@dark_bg_main: #0d1015;
@dark_bg: #161a23;
@dark_bg_sub: #2a2b2d;
@dark_text_main: #d3e0f3;
@dark_text_sub: #8c8c8c;
@dark_text_3: #434343;
@dark_text_4: #595959;

.custom-dark {
	background-color: @dark_bg_main;
	.order {
		background-color: @dark_bg;
		.item {
			.content {
				.description, .event-action {
					color: @dark_text_main;
				}
				
				.foot .u-font-lg, .text-main, .sub-title, .remark2 {
					color: @dark_text_sub;
				}
			}
		}
	}
	
	.lang-day, .user-bg, .cu-list, .cu-item, .u-drawer-content, .u-load-more-wrap, .u-more-text {
		background-color: @dark_bg!important;
		color: @dark_text_main!important;
	}
	.cu-item:after, .u-border-bottom:after {
		border-bottom: 1px solid @dark_text_3!important;
	}
	
	.cu-item.arrow::before {
		color: @dark_text_4!important;
	}
	
	.grid-text, .user-item {
		color: @dark_text_main!important;
	}
}
