.text-main {
	color: #353b4b
}

/* contributions start */
.contri {
	flex-direction: column!important;
	align-items: flex-end!important;
	overflow: auto;
	padding: 20rpx;
}
/* .details-reset {
    display: none;
}

.text-normal {
    display: none;
} */

/* .calendar-graph text.month */
.month {
    font-size: 10px;
    fill: #767676;
}

/* .calendar-graph text.wday */
.wday {
    font-size: 9px;
    fill: #767676;
}

.graph-before-activity-overview {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.py-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.border-gray-dark {
    border-color: #d1d5da!important;
}

.border {
    border: 1px solid #e1e4e8!important;
}

.d-flex {
    display: flex!important;
}

.text-center {
    text-align: center!important;
}

.pt-1 {
    padding-top: 4px!important;
}

.height-full {
    height: 100%!important;
}

.overflow-hidden {
    overflow: hidden!important;
}

.flex-items-end {
    align-items: flex-end!important;
}

.flex-column {
    flex-direction: column!important;
}

svg:not(:root) {
    overflow: hidden;
}

.contrib-footer {
    padding: 0 10px 12px;
    font-size: 11px;
}

.px-3 {
    padding-right: 16px!important;
}

.pl-3, .px-3 {
    padding-left: 16px!important;
}

.pb-1 {
    padding-bottom: 4px!important;
}

.mx-3 {
    margin-right: 16px!important;
    margin-left: 16px!important;
}

.mt-1 {
    margin-top: 4px!important;
}


.float-left {
    float: left!important;
}

.text-gray {
    color: #586069!important;
}

.contrib-legend {
    float: right;
}

.contrib-legend .legend {
    position: relative;
    bottom: -1px;
    display: inline-block;
    margin: 0 5px;
    list-style: none;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}
/* contributions end */

/* modify colorui */
.cu-list.menu>.cu-item .content {
	display: flex;
	align-items: center;
	line-height: 1.8;
}
